# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log
local_settings.py

# Poetry
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
cms_project/__pycache__/
pages/__pycache__/
contact/__pycache__/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bundle build output
static/bundle/