<section class="py-12 md:py-16">
    <div class="container mx-auto px-4 md:px-6">
        <div class="grid md:grid-cols-2 gap-8">
            <div class="aspect-w-16 aspect-h-9 rounded-xl shadow-lg overflow-hidden">
                <iframe class="w-full h-full" src="https://player.vimeo.com/video/881470300?loop=1&amp;dnt=1" allow="fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-xl shadow-lg overflow-hidden">
                <iframe class="w-full h-full" src="https://player.vimeo.com/video/881470437?loop=1&amp;dnt=1" allow="fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>